#Contenedor{
    background: #2f3033;
}

#HeaderPrincipal{
    background: rgb(39, 39, 39);
    padding: 1%;
}
.ContenedorContacto{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ContenedorContacto p{
    color: white;
    font-weight: 500;
}
.ContenedorContacto p:hover{
    color: rgb(219, 143, 0);
}
.Correo{
    margin: 0;
    margin-right: 1%;
}
.Tel{
    margin: 0;
}

#HeaderSecundario{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid black 1px;
}
#Contenedor2{
    text-decoration: none;
    color: rgb(220, 143, 0);
    text-align: center;
    margin: 1%;
}


#ContenidoSeccion1{
   margin-top: 1%;
}
#Contenido{
    display: flex;
    justify-content: center;
}
.Co1{
    font-weight: 500;
    color: rgb(219, 143, 0);
}

#ListaProductos{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: auto;
}
#Caja{
    border: 2px solid black;
    border-radius: 5px;
    background: #222427;
    width: 22%;
    line-height: 120px;
    justify-content: space-between;
    margin: 16px;
    text-align: center;
    color: white;
}
#Caja:hover{
    border: 2px solid orange;
}
.Pro{
    border-bottom: 1px solid black;
}
    